export NUGET_AUTH_USERNAME=
export NUGET_AUTH_TOKEN=
export SQLRACE_DLL_PATH="C:\Program Files\McLaren Applied Technologies\ATLAS 10\MESL.SqlRace.Domain.dll"
export ATLAS_EXE_PATH="C:\Program Files\McLaren Applied Technologies\ATLAS 10\ATLAS.exe"
export SQLRACE_CONNECTION_STRING=