<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="MotionApplied" value="https://nuget.pkg.github.com/mat-docs/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<!-- DO NOT ADD THIS INTO SOURCE CONTROL -->
	<packageSourceCredentials>
		<MotionApplied>
			<add key="Username" value="%NUGET_AUTH_USERNAME%" />
			<add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
		</MotionApplied>
	</packageSourceCredentials>
</configuration>